$color-primary: #02ead0;
$color-secondary: #232029;
$color-white: #ffffff;
$color-black: #000000;
$color-bg: #12171b;
$color-pink: #d978b9;

$footer-bg-color: #181d22;

$tabs-bg-color: #23282d;
$new-tabs-bg-color: #3e8fb9;

$community-icon-text-bg: #a6a6a6;

$shadow-color: #0ea998;
